@import "./variable.scss";

.main-container {
  flex: 1;
  min-height: calc(100vh - 128px - 37px);
  display: flex;
  align-items: center;
  justify-content: center;

  & .app {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .location {
      text-align: center;
      font-size: 4rem;
      margin: 0;
      margin-bottom: $gap-bottom;
    }

    & .current-icon {
      width: 300px;
      aspect-ratio: 1/1;
      margin-bottom: $gap-bottom;
      display: none;
    }

    & img[src] {
      display: block;
    }

    & .current-temp {
      font-size: 4rem;
      margin-bottom: $gap-bottom;
    }
  }
}
