@import "./variable.scss";

.main-container {
  flex: 1;
  min-height: calc(100vh - 100px - 45px);
  display: flex;
  align-items: center;
  justify-content: center;

  & .app {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .location {
      text-align: center;
      font-size: 4rem;
      margin: 0;
      margin-bottom: $gap-bottom;
    }

    & .current-icon {
      width: 300px;
      aspect-ratio: 1/1;
      margin-bottom: $gap-bottom;
      display: none;
    }

    & img[src] {
      display: block;
    }

    & .current-temp {
      font-size: 4rem;
      margin-bottom: $gap-bottom;
    }
  }
}

@media (max-width: $mobile-width) {
  .main-container {
    min-height: calc(100vh - 100px - 36px);

    & .app {
      & .location {
        font-size: 3rem;
      }

      & .current-icon {
        width: 200px;
        aspect-ratio: 1/1;
      }

      & .current-temp {
        font-size: 3rem;
      }
    }
  }
}
