@import url("https://fonts.googleapis.com/css?family=Open+Sans");

// global
$bg-color: #242424;
$font-family-sans-serif: "Open Sans", sans-serif;

// header
$header-bgcolor: #2e3532;
$img-small: 32px;

// app
$gap-bottom: 20px;

// footer
$footer-bgcolor: $header-bgcolor;
$icon-small: 32px;
$color-hover: #ccc;
