@import url("https://fonts.googleapis.com/css?family=Open+Sans");

// global
$bg-color: #242424;
$font-family-sans-serif: "Open Sans", sans-serif;
$mobile-width: 767px;
$mobile-width-small: 400px;

// header
$size-desktop: 100px;
$size-mobile: 65px;
$img-small: 24px;

// app
$gap: 20px;

// footer
$icon-small: 32px;
$icon-small-mobile: 24px;
