@import url("https://fonts.googleapis.com/css?family=Open+Sans");

// global
$bg-color: #242424;
$font-family-sans-serif: "Open Sans", sans-serif;
$mobile-width: 767px;

// header
$img-small: 24px;

// app
$gap-bottom: 20px;

// footer
$icon-small: 32px;
$icon-small-mobile: 24px;
